@import "tailwindcss";

@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #c9a84c;
  --color-primary-light: #e8c96a;
  --color-primary-300: #8a6f2e;

  --color-background: #0d0d0d;
  --color-surface: #141414;
  --color-surface-200: #1c1c1c;
  --color-surface-300: #242424;

  --color-fontText-100: #f0ede8;
  --color-fontText-300: #7a7570;

  --color-accent-green: #4caf7d;
  --color-accent-red: #e05555;
  --color-accent-blue: #5b8def;

  --color-accent-gray: #ffffff08;
  --color-button-error: #ca0e50;

  --color-secondary: #ff4500;
}
