@import "tailwindcss";

@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #ffd700;
  --color-primary-200: #ddb900;
  --color-primary-300: #917800;
  --color-accent-100: #ff4500;
  --color-accent-200: #ffe49a;
  --color-fontText-100: #ffffff;
  --color-fontText-200: #e0e0e0;
  --color-background-100: #1a1a1a;
  --color-background-200: #292929;
  --color-background-300: #404040;

  --color-button-error: #ca0e50;
}
